# This is a basic workflow to help you get started with Actions

name: Build and Test new Commits

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    
    # Map the helloWorld output so that it can be used by later jobs
    outputs:
      testOutput: ${{ steps.testStep.outputs.test }}
      helloWorld: ${{ steps.buildStep.outputs.test }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Check if gcc is installed on this runner
        run: gcc -v
        
      - name: See what the file system looks like
        run: ls
        
      - id: testStep
        run: echo "test=hello" >> $GITHUB_OUTPUT
        
      - id: buildStep
        run: gcc tempHelloWorld.c -o helloWorld >> $GITHUB_OUTPUT
        
      - name: Check that helloWorld is actually created
        run: ls

  execute:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Check to see if files persisted or if I need an environment/something similar
        run: ls
        
      - name: Check if output worked as I expected
        run: echo ${{needs.build.outputs.testOutput}}
        
      - name: Try running helloWorld
        run: helloWorld
